<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Only as human as those around us</h2>
                <hr class="light">
                <p class="text-faded">Personal Hobbies include: Horse riding, Bouldering, Hidden Gem Museums and Gaming. Each one  keeping me mentally  and physically  fit, which  to has seemed to have helped  me keeping  a straight but creative mind set  to each problem i ve come across. these hobie shelp me  look further than wat is  firsts presented</p>
                <a href="#" class="btn btn-default btn-xl">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
