<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Only as human as those around us</h2>
                <hr class="light">
                <p class="text-faded">
                    I enjoy <strong>Horse Riding</strong>, <strong>Bouldering</strong>,
                      exploring <strong>Hidden Gem Museums</strong>, and <strong>Gaming</strong>.
                      Each activity keeps me mentally and physically fit, and has helped me maintain a
                      straight yet creative mindset for each problem encountered.
                </p>
                <a href="#" class="btn btn-default btn-xl">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
