<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Eevee Creations - McS - AI optimization</h1>
            <hr>
            <p>Eevee Creations, known professionally as Eefje (Eve) Karremans, is an emerging AI Optimization researcher with a keen focus on Bayesian optimization,
                Multicriteria decision-making, Evolutionary Algorithms,
                Reinforcement learning and Deep learning. The curiosity and knowledge are in addition to fields of astronomy and quantum algorithms.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
