<!-- jQuery -->
<script src="{{'/js/jquery.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{'/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{'/js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{'/js/jquery.fittext.js' | relative_url }}"></script>
<script src="{{'/js/wow.min.js' | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{'/js/creative.js' | relative_url }}"></script>

<!--Latex mathss-->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
